.result-content{
    max-width:1000px;
    margin:auto;
}
.result-box{
    margin:0;
    padding:20px;
}
.result-card{
    border-radius:20px;
    margin:0;
    margin:auto;
    padding:0px;
    background:var(--mainbackground-default);
    box-shadow:var(--LargeBoxShadow) ;
}
.result-card .col-sm-6{
    margin:0px;
    padding:10px;
}
.result-card .col-sm-6 img{
    border-radius:15px;
    -webkit-filter:var(--imageColorFilter);
    filter: var(--imageColorFilter);
    
}
.result-card .details h2{
    color:var(--primaryDark);
}
.result-card .details button{
    background-color:var(--mainbackground-default) ;
    color:var(--primaryDark);
    padding:10px 15px;
    border:none;
    border-radius:30px;
    font-weight: bold;
    box-shadow:var(--SmallBoxShadow)  ;
    transition:box-shadow ease 0.3s;
}
.result-card .details button:hover{
    box-shadow:var(--LargeBoxShadow) ;
}
.result-card .details p{
    opacity:0.7;
}
.result-card .details{
    align-self: center;
}
@media screen and (max-width: 575px){
    .result-card .details{
        text-align:center;
        margin-bottom:20px;
    }
}
.empty-msg{
    font-size: 2.5rem;
    color: var(--inputBoxColor);
    margin: auto;
    text-align: center;
    max-width: 600px;
    padding: 50px 5%;
}