<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Superhero Search</title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

 </head>
 <body>
 	<style>
 		
     

 	</style>
 	<div class="main">
 		<div class="head">
 			<div class="head-title"><h1>SUPERHERO REGISTRY</h1></div>
 			<div class="sub-title"><p class="lead" style="font-style:uppercase">A place to find information about any mainstream superhero</p></div>
 		</div>
 		<div class="search-box">
 			<div class="search-input">
 				<form [formGroup]="formGrp" (ngSubmit)="onSearch()">
          <input type="text" formControlName="search_query" class="search-inputbox" placeholder="Search">&nbsp; &nbsp;  
          <button class="search-button" ><i class="fas fa-search"></i></button>
        </form>
 			</div>
 		</div>
 		<div class="main-content">
 			
       <router-outlet></router-outlet>
 		</div>
 		<div class="footer">
 			<div class="container row footer-content">
 				<div class="col-md-4">
 					<h3 class="title">SUPERHERO REGISTRY</h3>
 					<p>Hello, I created this application to try out the neumorphism design trend of 2019-20 and also to create a quick superhero
						 search platform. The main source of information is :</p>
 					<a href=""><button class="superhero-api-link">SuperHero API <i class="fas fa-external-link-square-alt"></i></button></a>
 				</div>
 				<div class="col-md-4">
 					<img src="assets/dc.png" height="150px">
 					<img src="assets/marvel.png" height="150px">
 					
 				</div>
 				<div class="col-md-4">
 					<a href=""><button class="superhero-api-link"><i class="fab fa-facebook"></i></button></a>
 					&nbsp;
 					<a href=""><button class="superhero-api-link"><i class="fab fa-github"></i></button></a>
 					&nbsp;
 					<a href=""><button class="superhero-api-link"><i class="fab fa-linkedin-in"></i></button>
 					&nbsp;</a>
 					<a href=""><button class="superhero-api-link"><i class="fas fa-envelope"></i></button>
 					&nbsp;</a>
 					<a href=""><p>debjoybhowal7@gmail.com</p></a>
 					<a href=""><p>My Portfolio</p></a>
 				</div>
 			</div>
 			<div class="end-credits">made with <i class="fas fa-heart" style="color:#5294e2"></i> by <a href="">Debjoy</a></div>
 		</div>
 	</div>
 </body>
 </html>