<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Superhero Search</title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

 </head>
 <body>
 	<style>
 		
     

	 </style>
	
 	<div class="main">
		<div class="theme-toggle">
			<button class="dark" (click)="setDark()"> <i class="fas fa-moon"></i></button>
			<button class="light" (click)="setLight()"><i class="fas fa-sun"></i> </button>
		</div>
 		<div class="head">
 			<div class="head-title"><h1>SUPERHERO REGISTRY</h1></div>
 			<div class="sub-title"><p class="lead" style="font-style:uppercase">A place to find information about any mainstream superhero</p></div>
 		</div>
 		<div class="search-box">
 			<div class="search-input">
 		<form [formGroup]="formGrp" (ngSubmit)="onSearch()">
          <input type="text" formControlName="search_query" class="search-inputbox" placeholder="Search">&nbsp; &nbsp;  
          <button class="search-button" ><i class="fas fa-search"></i></button>
		</form>
 			</div>
 		</div>
 		<div class="main-content">
 			
       <router-outlet></router-outlet>
 		</div>
 		<div class="footer">
 			<div class="container row footer-content">
 				<div class="col-md-4">
 					<h3 class="title">SUPERHERO REGISTRY</h3>
 					<p>Hello, I created this application to try out the neumorphism design trend of 2019-20 and also to create a quick superhero
						 search platform. The main source of information is :</p>
 					<a href="https://superheroapi.com/"><button class="superhero-api-link">SuperHero API <i class="fas fa-external-link-square-alt"></i></button></a>
 				</div>
 				<div class="col-md-4">
 					<div class="option-heading">
						<h3><strong>Options</strong></h3>
					 </div>
					<div class="theme-toggle" >
							<span><strong>Theme:</strong></span> &nbsp;&nbsp;
							<button class="dark" (click)="setDark()"> <i class="fas fa-moon"></i></button>
							<button class="light" (click)="setLight()"><i class="fas fa-sun"></i> </button>
					</div>
					<div class="theme-toggle" >
							<strong>Image:</strong><br>
							<span><span style="color:#dc3545;">C</span><span style="color:#ffc107">o</span>
							<span style="color:#28a745">l</span><span style="color:#007bff">o</span><span style="color:#dc3545;">r</span>
							<span style="color:#ffc107">e</span><span style="color:#28a745">d</span>:</span> &nbsp;&nbsp;
							<button class="colorise colored" (click)="setColored()"> <i class="fas fa-circle" *ngIf="colored"></i> <i class="far fa-circle" *ngIf="!colored"></i> 	</button><br>
							<span>Filtered:</span> &nbsp;&nbsp;&nbsp;
							<button class="colorise filtered" (click)="setFiltered()"> <i class="far fa-circle" *ngIf="colored"></i><i class="fas fa-circle" *ngIf="!colored"></i>  </button>
					</div>
					 
 				</div>
 				<div class="col-md-4">
					<div class="option-heading" style="margin-bottom:15px">
						<h3><strong>Get in touch</strong></h3>
					 </div>
 					<a href="https://www.facebook.com/debjoy.bhowal.5"><button class="superhero-api-link"><i class="fab fa-facebook"></i></button></a>
 					&nbsp;
 					<a href="https://github.com/debjoy"><button class="superhero-api-link"><i class="fab fa-github"></i></button></a>
 					&nbsp;
 					<a href="https://www.linkedin.com/in/debjoy-bhowal/"><button class="superhero-api-link"><i class="fab fa-linkedin-in"></i></button>
 					&nbsp;</a>
 					<a href="mailto:debjoybhowal7@gmail.com"><button class="superhero-api-link"><i class="fas fa-envelope"></i></button>
 					&nbsp;</a>
 					<a href="mailto:debjoybhowal7@gmail.com"><p>debjoybhowal7@gmail.com</p></a>
					 <a href="https://www.atdebjoy.com/portfolio/"><p>My Portfolio</p></a>
					 <a href="https://github.com/Debjoy/superhero-registry"><p>Just Fork It &nbsp;<i class="fas fa-code-branch"></i></p></a>
 				</div>
 			</div>
 			<div class="end-credits">made with <i class="fas fa-heart" style="color:#dc3545;"></i> by <a href="https://www.atdebjoy.com/">Debjoy</a></div>
 		</div>
 	</div>
 </body>
 </html>