.hero-infobox{
    max-width:1200px;
    margin:auto;
}
.hero-infobox .container{
    padding:10px;
    margin:0;
    min-width: 100%;
}
.hero-infobox .container .col-md-3{
   align-self:center;
}
.hero-infobox .container .col-md-5{
    align-self:center;
}
.hero-infobox .container .col-md-4 .box{
    border-radius:25px;
    box-shadow:var(--LargeBoxShadow);
    display:inline-block;
    margin-bottom:30px;
    background:var(--mainbackground-default);
}
.hero-infobox .container .col-md-4 .box img{
    border-radius:20px;
    -webkit-filter:var(--imageColorFilter);
    filter: var(--imageColorFilter);
}
.box{
    padding:15px;
}

.powerstats .col-lg-4{
    display:flex;
    padding:0px;
}
.powerstats .col-lg-4 .power-box{
    width:100%;
    text-align:center;
    margin:10px;
    padding:10px 0px;
    border-radius:20px;
    box-shadow:var(--MediumBoxShadow);
}
/* .powerstats .col-lg-4 .power-box p{
} */
.extra-head{
    width:100%;
    text-align:center;
}

.extra{
    font-size:3rem;
    text-align:center;
    font-weight:600;
}
.quote-aliases{
   color:var(--primaryColor);
   display:inline-block;
}
.extra-small{
   font-size:1.7rem;
   font-weight:300;
}
.extra-med{
   font-size:1.7rem;
}
.back-button{
    background:var(--mainbackground-default) ;
    color:var(--primaryDark);
    padding:15px 25px;
    border:none;
    border-radius:50px;
    transition:box-shadow ease 0.3s;
    margin:auto;
    font-weight:bold;
    font-size:1.5rem;
    box-shadow:var(--SmallBoxShadow) ;
    transition:box-shadow ease 0.3s;
}
.back-button:hover{
    box-shadow:var(--LargeBoxShadow) ;
}