<div class="hero-infobox" *ngIf="info && !loadingFlag">
    <div class="container row">
        <div class="col-md-4">
            <div class="box">
                <img src="{{info.image['lg']}}" class="img-fluid">
            </div>
        </div>
        <div class="col-md-5">
            <div class="box">
                <h1 style="color:var(--primaryDark);"><strong>{{info.name}}</strong></h1><br>
                <p class="lead" style="font-weight:bold;opacity:0.7">BIOGRAPHY</p>
                <p class="lead"><strong>Fullname/ Unmasked name: <span style="font-weight:bold;color:#5294e2">{{info.biography['full_name']}}</span></strong><p>
                <p class="lead"><strong>Place of Birth: <span style="font-weight:bold;color:#5294e2">{{info.biography['place_of_birth']}}</span></strong><p>
                <p class="lead"><strong>First Appearance: <span style="font-weight:bold;color:#5294e2">{{info.biography['first_appearance']}}</span></strong><p>
                <p class="lead"><strong>Publisher: <span style="font-weight:bold;color:#5294e2">{{info.biography['publisher']}}</span></strong><p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <p class="lead" style="font-weight:bold;opacity:0.7">APPEARANCE</p>
                <p class="lead"><strong>Gender: <span style="font-weight:bold;color:#5294e2">{{info.appearance['gender']}}</span></strong><p>
                <p class="lead"><strong>Race: <span style="font-weight:bold;color:#5294e2">{{info.appearance['race']}}</span></strong><p>
                <p class="lead"><strong>Height: <span style="font-weight:bold;color:#5294e2">{{info.appearance['height'][0]}} <i class="fas fa-exchange-alt" style="color:var(--maintextcolor-default)"></i> {{info.appearance['height'][1]}}</span></strong><p>
                <p class="lead"><strong>Weight: <span style="font-weight:bold;color:#5294e2">{{info.appearance['weight'][0]}} <i class="fas fa-exchange-alt" style="color:var(--maintextcolor-default)"></i> {{info.appearance['weight'][1]}}</span></strong><p>
                <p class="lead"><strong>Eye Color: <span style="font-weight:bold;color:#5294e2">{{info.appearance['eye_color']}}</span></strong><p>
                <p class="lead"><strong>Hair Color: <span style="font-weight:bold;color:#5294e2">{{info.appearance['hair_color']}}</span></strong><p>
            </div>
        </div>
    </div>
    <br>
    <div class="container row powerstats">
        <div class="power-heading" style="width:100%;text-align:center;margin-bottom:25px">
            <h1 ><i class="fas fa-bolt" style="color:#5294e2"></i><span style="opacity:1;"> POWER STATS </span> <i class="fas fa-bolt" style="color:#5294e2"></i></h1>
        </div>

        <div class="col-lg-4">
            <div class="power-box">
                <circle-progress
                    [percent]="info.powerstats.intelligence"
                    [animation]="true"
                    [animationDuration]="1000"
                    [outerStrokeColor]="info.powerstats.intelligence==100 ? '#28a745' : (info.powerstats.intelligence>50 ? '#5294e2' : '#ffc107')"
                    ></circle-progress>
                <p class="lead" style="margin-top:10px"><strong>Intelligence</strong></p>
            </div>   
             <!-- stroke: #ffc107; -->
            <div class="power-box">
                <circle-progress
                    [percent]="info.powerstats['strength']"
                    [animation]="true"
                    [animationDuration]="1000"
                    [outerStrokeColor]="info.powerstats['strength']==100 ? '#28a745' : (info.powerstats['strength']>50 ? '#5294e2' : '#ffc107')"
                    ></circle-progress>
                <p class="lead" style="margin-top:10px"><strong>Strength</strong></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="power-box">
                <circle-progress
                    [percent]="info.powerstats['speed']"
                    [animation]="true"
                    [animationDuration]="1000"
                    [outerStrokeColor]="info.powerstats['speed']==100 ? '#28a745' : (info.powerstats['speed']>50 ? '#5294e2' : '#ffc107')"
                    ></circle-progress>
                <p class="lead" style="margin:0px;margin-top:10px;"><strong>Speed</strong></p>
            </div>
            <div class="power-box">
                <circle-progress
                    [percent]="info.powerstats['durability']"
                    [animation]="true"
                    [animationDuration]="1000"
                    [outerStrokeColor]="info.powerstats['durability']==100 ? '#28a745' : (info.powerstats['durability']>50 ? '#5294e2' : '#ffc107')"
                    ></circle-progress>
                <p class="lead" style="margin:0px;margin-top:10px"><strong>Durability</strong></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="power-box">
                <circle-progress
                    [percent]="info.powerstats['power']"
                    [animation]="true"
                    [animationDuration]="1000"
                    [outerStrokeColor]="info.powerstats['power']==100 ? '#28a745' : (info.powerstats['power']>50 ? '#5294e2' : '#ffc107')"
                    ></circle-progress>
                <p class="lead" style="margin:0px;margin-top:10px"><strong>Power</strong></p>
            </div>
            <div class="power-box">
                <circle-progress
                    [percent]="info.powerstats['combat']"
                    [animation]="true"
                    [animationDuration]="1000"
                    [outerStrokeColor]="info.powerstats['combat']==100 ? '#28a745' : (info.powerstats['combat']>50 ? '#5294e2' : '#ffc107')"
                    ></circle-progress>
                <p class="lead" style="margin:0px;margin-top:10px"><strong>Combat</strong></p>
            </div>
        </div>
    </div>

    <div class="extra-content">
        <br><br>
        <div class="extra-head">
            <h3 > IS ALIASED AS </h3>
        </div>
        <div class="extra">
            <span *ngFor="let alias of info.biography['aliases']"><span class="quote-aliases"> {{alias}} </span > ,</span>   
        </div>
    </div>
    <div class="extra-content">
        <br><br>
        <div class="extra-head">
            <h3 style="font-size:2rem"> IS A PART OF </h3>
        </div>
        <div class="extra extra-small">
            {{info.connections['group_affiliation']}}  
        </div>
    </div>
    <div class="extra-content">
        <br><br>
        <div class="extra-head">
            <h3 style="font-size:2rem"> OCCUPATION </h3>
        </div>
        <div class="extra extra-med">
            <span class="quote-aliases">{{info.work['occupation']}}</span>
        </div>
    </div>
    <div class="extra-content">
        <br><br>
        <div class="extra-head">
            <h3 style="font-size:2rem"> RELATIONS </h3>
        </div>
        <div class="extra extra-small">
            {{info.connections['relatives']}}
        </div>
    </div><br><br>
    <div style="width:100%;text-align:center">
        <button class="back-button" (click)="goback()"><i class="fas fa-arrow-left"></i> &nbsp;Back </button>
    </div>
    <br>
</div>
<div class="container row result-content" *ngIf="loadingFlag">
    <br><br><br><br><br><br><br><br>
    <img src="assets/progress.svg" style="margin:auto;height:100px">
    <br><br><br><br><br><br><br><br>
</div>