/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: bangers;
    src: url(assets/Bangers.ttf);
  }


:root{
    /*Colors*/

    --mainbackground-default: #161c23;
    --maintextcolor-default: #ddd;
    --mainsubtitle:#80bdff;

    --inputBoxColor:#9ecdff;

    --primaryColor:#5294e2;
    --primaryDark:#5294e2;

    --SmallBoxShadow:-2px -2px 3px #2b3744 ,2px 2px 3px #090d10 ;
    --LargeBoxShadow:-4px -4px 5px #2b3744 ,4px 4px 5px #090d10 ;
    --MediumBoxShadow:-3px -3px 4px #2b3744 ,3px 3px 4px #090d10 ;

    --inputBoxInsetShadow:inset 2px 2px 3px #090d10, inset  -2px -2px 3px #2b3744  ;
    --lightThemeBoxShadow:-2px -2px 3px #2b3744 ,2px 2px 3px #090d10 ;
    --darkThemeBoxShadow:inset 2px 2px 3px #090d10, inset  -2px -2px 3px #2b3744  ;

    --coloredBoxShadow:none ;
    --filteredBoxShadow:none;

    --imageColorFilter: sepia(0.8) hue-rotate(180deg) brightness(0.8) contrast(1.3);

    --frownface:#ccc;

    --scrollbarTrack:#090d10; 
}
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    outline: 1px solid slategrey;
    border-radius:20px;
  }
  ::-webkit-scrollbar-track {
    background: var(--scrollbarTrack); 
  }
   body{
       background:var(--mainbackground-default) !important;
       /*background:#272727;*/
       transition:background-color ease 0.3s;
       color:var(--maintextcolor-default) !important;
   }
   .main{
       width:100%;
       background-image:url("assets/img/background3.png");
       background-size: contain;
       background-position: top;
       background-repeat: no-repeat;
   }
   .head-title h1{
       font-family:bangers;
       font-size:6rem;
       color:var(--maintextcolor-default) ;
   }
   
   .head{
       text-align: center;
       padding:70px 5%;

   }
   .sub-title p{
       font-variant: small-caps;
      font-weight: 500;
      color: var(--mainsubtitle);
   }
   .search-box{
       /*border:1px solid blue;*/
       text-align:center;
   }
   .search-button{
       background:var(--mainbackground-default) ;
       color:var(--primaryDark);
       padding:10px 15px;
       border:none;
       border-radius:30px;
       box-shadow:var(--SmallBoxShadow) ;
       transition:background-color ease 0.3s, box-shadow ease 0.3s;
   }
   
   .search-button:focus{
        outline: none;
   }
   .search-button:hover{
        box-shadow:var(--LargeBoxShadow) ;
    }
   .search-inputbox{
       background:var(--mainbackground-default);
       color:var(--inputBoxColor);
       padding:10px 20px;
       border:none;
       border-radius:30px;
       box-shadow:var(--inputBoxInsetShadow)  ;
       transition:background-color ease 0.3s,box-shadow ease 0.3s;
   }
   .search-inputbox:focus{
       outline:none;
   }
   .search-inputbox::placeholder{
       color:var(--inputBoxColor);
       opacity:0.5 ;
   }
   .footer{
       padding:40px 5%;
   }
   .footer-content{
       max-width:1200px !important;
       margin:auto !important;
   }
   .footer-content .title{
       font-family:bangers;
   }
   .superhero-api-link{
       background-color:var(--mainbackground-default) ;
       color:var(--primaryDark);
       padding:10px 15px;
       border:none;
       border-radius:30px;
       font-weight: bold;
       box-shadow:var(--SmallBoxShadow) ;
       margin-bottom:1rem;
       transition: box-shadow ease 0.3s, background-color ease 0.3s;
   }
   .superhero-api-link:hover{
       box-shadow:var(--LargeBoxShadow) ;
   }
   .footer a{
       color:var(--primaryDark);
       font-weight:bold;
       transition: all ease 0.3s;
   }
   .footer a:hover{
       color:var(--maintextcolor-default) ;
       text-decoration:none;
   }
   .end-credits{
       text-align: center;
   }
   .footer .col-md-4{
       margin-bottom:1rem;
   }
   @media screen and (max-width: 422px){
       .head-title h1{
           font-size:4rem;
       }
   }
   @media screen and (max-width: 767px){
       .footer{
           text-align: center ;
       }
   }
   .main-content{
    padding:70px 5%;
}

.theme-toggle{
    width:100%;
    text-align:center;  
    padding:10px;
}
.theme-toggle .light{
    border:none;
    background-color:var(--mainbackground-default);
    padding:5px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color:var(--primaryDark);
    box-shadow:var(--lightThemeBoxShadow);
}

.theme-toggle .dark{
    background-color:var(--mainbackground-default);
    color:var(--primaryDark);
    border:none;
    box-shadow:var(--darkThemeBoxShadow);
    padding:5px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.footer-content .theme-toggle{
    padding:10px 0px;
    text-align:inherit;
}

.footer-content img{
    filter:var(--footerImageFilter);
}

.theme-toggle .colorise{
    border:none;
    margin:5px 0px;
    background:var(--mainbackground-default);
    color:var(--primaryDark);
    border-radius:20px;
    transition:background-color ease 0.3s;
}

.theme-toggle .colored{
    box-shadow:var(--coloredBoxShadow);
}

.theme-toggle  .filtered{
    box-shadow:var(--filteredBoxShadow);
}
.option-heading{
    opacity:0.9;
}
button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
    }
    